name: Rodar Bot Shopee

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Rodar Bot
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        SHOPEE_APP_ID: ${{ secrets.SHOPEE_APP_ID }}
        SHOPEE_APP_SECRET: ${{ secrets.SHOPEE_APP_SECRET }}
        SHOPEE_API_KEY: ${{ secrets.SHOPEE_API_KEY }}
        SHOPEE_AFILIATE_URL: ${{ secrets.SHOPEE_AFILIATE_URL }}
      run: |
        python telegram_bot.py
